clothing_recognition/classifier/logs/*
clothing_recognition/classifier/data/*
clothing_Recognition/detector/train/*
*.pbtxt
*.record-*
*.png
*.jpeg
*.jpg
*.zip
*.pyc
training/*
visualizer/imagestorage/*
imagestorage/*
storage/*
*.pyc
*.pyc

