clothing_recognition/classifier/logs/*
clothing_recognition/classifier/data/*
clothing_Recognition/detector/train/*
*.pbtxt
*.record-*
*.png
*.jpeg
*.jpg
*.zip
training/*
clothing_recognition/classifier/__pycache__/clothing_classifier.cpython-36.pyc
clothing_recognition/classifier/__pycache__/clothing_classifier.cpython-36.pyc
