{% extends 'base.html' %}

{% block body %}
<h1>Let's take some clothes</h1>
    <p>Choose the combination of clothes you would like to wear today!</p>

    <form method = "post">
        <label for="img">Select image:</label>
        {% for image_file in imgs %}
            {{image_file}}<input type="checkbox" value = {{image_file}} name = 'mycheckbox'>
        {% endfor %}

        {% for image_file in imgs %}
            <p>{{image_file}}</p>
            <image src = "{{image_file}}"></image>
        {% endfor %}
        <p><input type="submit" value = "done"></p>
    </form>

{% endblock %}
