{% extends 'base.html' %}

{% block body %}
<h1>Let's take some clothes</h1>
    <p>Choose the combination of clothes you would like to wear today!</p>

    <form method = "post">
        <label for="img">Select image:</label>
        <p> </p>
        {% for image_file in imgs %}
            <input type="checkbox" value = {{image_file}} name = 'mycheckbox'>
            <image src = "{{ url_for('static', filename = 'take_img/' + image_file)}}">
        {% endfor %}
        <p><input type="submit" value = "done"></p>
    </form>

{% endblock %}
